<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       body{
        background-color: rgb(180, 180, 180);
       } 
       .input-block{
        margin-bottom: 1rem;
       }
       form{
        margin-left: 32%;
        width: 500px;
        margin-top: 50px;
      
      }
    </style>
</head>
<body>
    {%block content%}
    {%endblock%}
    
</body>
</html>